.col-4{
    margin-bottom: 5px;
    display: table-cell; 
}
.card-img-top{
    height: 180px!important;
}
.custom-checkbox{
    font-size: large!important;
    font-family: cursive!important;
    margin: 5%;
}