
<div class="container" style="cursor: pointer;">

		
		<div class="row mb-3">
			<div class="col-xl-3 col-lg-6">
			  <div class="card card-inverse card-success">
				<div class="card-block bg-success">
				  <div class="rotate">
					<i class="fas fa-virus"></i>
				  </div>
				 
				  <h2 class="text-uppercase">Recovered</h2>
				  <h1 class="display-1 count">21292330</h1>
				</div>
			  </div>
			</div>
			<div class="col-xl-3 col-lg-6">
			  <div class="card card-inverse card-danger">
				<div class="card-block bg-danger">
				  <div class="rotate">
				  
				  </div>
				  <h2 class="text-uppercase">Deaths</h2>
				  <h1 class="display-1 count">933150</h1>
				</div>
			  </div>
			</div>
			<div class="col-xl-3 col-lg-6">
			  <div class="card card-inverse card-info">
				<div class="card-block bg-info">
				  <div class="rotate">
				 
				  </div>
				  <h2 class="text-uppercase">Corona Virus Cases</h2>
				  <h1 class="display-1 count">29466633</h1>
				</div>
			  </div>
			</div>
			<div class="col-xl-3 col-lg-6">
			  <div class="card card-inverse card-info">
				<div class="card-block bg-info">
				  <div class="rotate">
				 
				  </div>
				  <h2 class="text-uppercase">Corona Virus Cases</h2>
				  <h1 class="display-1 count">29466633</h1>
				</div>
			  </div>
			</div>
		  
		
		
	</div>
	<div class="row">
		<div class="col-md-4" routerLink="world">
			<div class="dbox dbox--color-1">
				<div class="dbox__icon">
				<img width="100px" src="/assets/globe.png" alt="world stats " class="bars">
				</div>
				<div class="dbox__body">
				<br>
					<span class="dbox__title">World</span>
				</div>
				
				<div class="dbox__action">
					<button class="dbox__action__btn">More Info</button>
				</div>				
			</div>
    </div>
    <div class="col-md-4" routerLink="india">
			<div class="dbox dbox--color-2">
				<div class="dbox__icon">
				<img width="100px" src="/assets/india.png" alt="india stats " class="bars">
				</div>
				<div class="dbox__body">
				<br>
					<span class="dbox__title">India</span>
				</div>
				
				<div class="dbox__action">
					<button class="dbox__action__btn">More Info</button>
				</div>				
			</div>
    </div>
    <div class="col-md-4" routerLink="doctors">
			<div class="dbox dbox--color-3">
				<div class="dbox__icon">
				<img width="100px" src="/assets/doctor.png" alt="world stats " class="bars">
				</div>
				<div class="dbox__body">
				<br>
					<span class="dbox__title">Symptom Checker and Consultation</span>
				</div>
				
				<div class="dbox__action">
					<button class="dbox__action__btn">More Info</button>
				</div>				
			</div>
    </div>
    <div class="col-md-4">
			<div class="dbox dbox--color-1" routerLink="who">
				<div class="dbox__icon">
				<img width="100px" src="/assets/face-mask.png" alt="world stats " class="bars">
				</div>
				<div class="dbox__body">
				<br>
					<span class="dbox__title">WHO Feeds</span>
				</div>
				
				<div class="dbox__action">
					<button class="dbox__action__btn">More Info</button>
				</div>				
			</div>
    </div>
    <div class="col-md-4">
			<div class="dbox dbox--color-3">
				<div class="dbox__icon">
				<img width="100px" src="/assets/growth.png" alt="world stats " class="bars">
				</div>
				<div class="dbox__body">
				<br>
					<span class="dbox__title">Stats</span>
				</div>
				
				<div class="dbox__action">
					<button class="dbox__action__btn">More Info</button>
				</div>				
			</div>
    </div>
    <div class="col-md-4">
			<div class="dbox dbox--color-2">
				<div class="dbox__icon">
				<img width="100px" src="/assets/connection.png" alt="world stats " class="bars">
				</div>
				<div class="dbox__body">
				<br>
					<span class="dbox__title">Important Links</span>
				</div>
				
				<div class="dbox__action">
					<button class="dbox__action__btn">More Info</button>
				</div>				
			</div>
    </div>
   
		
	</div>
</div>