
th{
    background-color: rgb(117, 117, 117);
    color: white;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
td {
 font-size: large;
 -webkit-text-stroke-width: 1px;
 -webkit-text-fill-color: aliceblue;  
}

h2{
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 text-align: center;
 -webkit-text-stroke-width: 1px;
 -webkit-text-fill-color: rgb(66, 66, 66);  
}
h1{
   
    color: white;
    text-align: center;
    -webkit-text-stroke-width: 1px;
   
}
